<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @skillset.client_id %>
</p>

<p>
  <strong>Project management:</strong>
  <%= @skillset.project_management %>
</p>

<p>
  <strong>Scripting:</strong>
  <%= @skillset.scripting %>
</p>

<p>
  <strong>Programming:</strong>
  <%= @skillset.programming %>
</p>

<p>
  <strong>Dbadmin:</strong>
  <%= @skillset.dbadmin %>
</p>

<p>
  <strong>Ui ux:</strong>
  <%= @skillset.ui_ux %>
</p>

<p>
  <strong>Algorithms:</strong>
  <%= @skillset.algorithms %>
</p>

<p>
  <strong>System design:</strong>
  <%= @skillset.system_design %>
</p>

<p>
  <strong>Analysis:</strong>
  <%= @skillset.analysis %>
</p>

<p>
  <strong>Web dev:</strong>
  <%= @skillset.web_dev %>
</p>

<p>
  <strong>Mobile dev:</strong>
  <%= @skillset.mobile_dev %>
</p>

<p>
  <strong>Sysarchitecture:</strong>
  <%= @skillset.sysarchitecture %>
</p>

<p>
  <strong>Ai:</strong>
  <%= @skillset.ai %>
</p>

<p>
  <strong>Game programming:</strong>
  <%= @skillset.game_programming %>
</p>

<%= link_to 'Edit', edit_skillset_path(@skillset) %> |
<%= link_to 'Back', skillsets_path %>
