<%= form_for(@employer_info) do |f| %>
  <% if @employer_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employer_info.errors.count, "error") %> prohibited this employer_info from being saved:</h2>

      <ul>
      <% @employer_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.select :client_id, [current_user.id]  %>
  </div>
  <div class="field">
    <%= f.label :companyName %><br>
    <%= f.text_field :companyName %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
