<h6>Job Title</h6>
<h4>Software Engineer</h4>
<h6>Posted by:</h6>
<h6>Google</h6>
<h5>Skillset Compatability</h5>
<h4><%= @googleper %>%</h4>
<h5>Work Culture Compatability</h5>
<h4><%= @googleworkper.round(2) %>%</h4>



<br>

<h6>Job Title</h6>
<h4>Systems Architect</h4>
<h6>Posted by:</h6>
<h6>Facebook</h6>
<h5>Skillset Compatability</h5>
<h4><%= @fbper %>%</h4>
<h5>Work Culture Compatability</h5>
<h4><%= @fbworkper.round(2) %>%</h4>

<br>

<h6>Job Title</h6>
<h4>Mobile Development Project Manager</h4>
<h6>Posted by:</h6>
<h6>UBER</h6>
<h5>Skillset Compatability</h5>
<h4><%= @uberper.round(2) %>%</h4>
<h5>Work Culture Compatability</h5>
<h4><%= @uberworkper.round(2) %>%</h4>
