<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @work_culture.client_id %>
</p>

<p>
  <strong>Creative:</strong>
  <%= @work_culture.creative %>
</p>

<p>
  <strong>Logical:</strong>
  <%= @work_culture.logical %>
</p>

<p>
  <strong>Problem solver:</strong>
  <%= @work_culture.problem_solver %>
</p>

<p>
  <strong>Listener:</strong>
  <%= @work_culture.listener %>
</p>

<p>
  <strong>Oral communicator:</strong>
  <%= @work_culture.oral_communicator %>
</p>

<p>
  <strong>Written communicator:</strong>
  <%= @work_culture.written_communicator %>
</p>

<p>
  <strong>People skills:</strong>
  <%= @work_culture.people_skills %>
</p>

<p>
  <strong>Punctual:</strong>
  <%= @work_culture.punctual %>
</p>

<p>
  <strong>Accurate:</strong>
  <%= @work_culture.accurate %>
</p>

<p>
  <strong>Efficient:</strong>
  <%= @work_culture.efficient %>
</p>

<p>
  <strong>Multitasker:</strong>
  <%= @work_culture.multitasker %>
</p>

<p>
  <strong>Planner:</strong>
  <%= @work_culture.planner %>
</p>

<p>
  <strong>Researcher:</strong>
  <%= @work_culture.researcher %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @work_culture.leader %>
</p>

<p>
  <strong>Team member:</strong>
  <%= @work_culture.team_member %>
</p>

<%= link_to 'Edit', edit_work_culture_path(@work_culture) %> |
<%= link_to 'Back', work_cultures_path %>
